resources/runtime/*/bin/* filter=lfs diff=lfs merge=lfs -text
resources/runtime/*/codex-path/* filter=lfs diff=lfs merge=lfs -text
resources/runtime/*/codex-resources/** filter=lfs diff=lfs merge=lfs -text
